body {
  width: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
  width: 100%;
  height: auto;
}

#headingDiv {
  background-color: #043927;
  width: 100%;
  min-height: 250px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heading {
  background-color: #043927;
  color: white;
  margin: auto;
  text-align: center;
  font-size: 3.5rem;
}

#buttonDiv {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

button#eventCreateBtn {
  margin: 2rem auto;
  background-color: #405f53;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: none;
}

button:hover, 
.card:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

select {
    margin: 1rem auto;
    background-color: #405f53;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
}

#eventsContainer {
  margin: auto;
  width: 90%;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

div.unhide {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 70%;
  max-width: 600px;
  min-width: 300px;
  background-color: #fdf2d0;
  border: 50px solid #997200;
  padding: 1rem;
  box-sizing: border-box;
}

#eventCreateForm {
  position: relative;
  width: 100%;
}

input, 
textarea {
  width: 95%;
  padding: 0.25rem;
}

textarea {
  height: 100px;
}

label {
  margin: 1rem auto;
}

input[type="submit"] {
  padding: 1rem 2em;
  margin: 1rem auto;
  width: auto;
  background-color: #405f53;
  color: white;
  font-size: 120%;
  border: none;
}

.formInputField, 
.formTextarea, 
label, 
#submitNewEvent {
  display: block;
}

.card {
  background-color: #fdf2d0;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 1rem;
}

.modal-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.interested {
  font-size: 1.5rem;
  color: orange;
}

.going {
  font-size: 1.5rem;
  color: green;
}

.notgoing {
  font-size: 1.5rem;
  color: red;
}