body {
  width: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
  width: 100%;
  height: auto;
}

#headingDiv {
  background-color: #043927;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  box-sizing: border-box;
}

#heading {
  width: 90%;
  margin: auto;
}

h1 {
  color: white;
  font-size: 3rem;
  margin: auto;
}

#buttonDiv {
  width: 100%; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#buttonDiv.sticky {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em 0; 
}

#buttonDiv.sticky ~ div#eventsContainer {
  padding-top: 91px; 
}

#buttonDiv label {
  margin-top: 0;
}

button:hover, 
.card:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

#eventsContainer {
  margin: auto;
  width: 90%;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  transition: all 0.3s ease-in-out;
}

div.unhide {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
}

.modal-content {
  margin: 10% auto;
  width: 70%;
  max-width: 600px;
  min-width: 350px;
  background-color: #fdf2d0;
  border: 40px solid #997200;
  padding: 1rem;
}

#eventCreateForm {
  position: relative;
  width: 100%;
}

input, 
textarea {
  width: 95%;
  padding: 0.25rem;
}

textarea {
  height: 100px;
}

label {
  margin: 1rem auto;
}

#formField2, #formField3, #formField9, #formField10 {
  display: inline;
  width: 30%;
}

input[type="submit"],
button#eventCreateBtn {
  padding: 1rem 2em;
  width: auto;
  background-color: #405f53;
  color: white;
  font-size: 120%;
  border: none;
}

input[type="submit"] {
  margin: 1rem auto;
}

.formInputField, 
.formTextarea, 
label, 
#submitNewEvent, 
#editEvent {
  display: block;
}

.card {
  background-color: #fdf2d0;
  max-width: 500px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 1rem;
}

.modal-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.interested {
  font-size: 1.5rem;
  color: orange;
  line-height: 0rem;
}

.going {
  font-size: 1.5rem;
  color: green;
  line-height: 0rem;
}

.notgoing {
  font-size: 1.5rem;
  color: red;
  line-height: 0rem;
}

form#search #searchEvents {
  margin: 0 1rem;
  align-self: flex-end;
}

.detail-footer,
form#search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select,
form#search #searchEvents,
#clearsearch {
  background-color: #405f53;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
}

select,
.detail-footer span {
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

#clearsearch {
  margin: 2rem auto 0 auto;
  display: block;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  background-color: rgba(58, 46, 14, 0.8);
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 2px;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

footer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: #405f53;
  color: #fff;
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
  padding-left: 2rem;
  text-align: left;
  box-sizing: border-box;
}

.svg {
  font-size: 2rem;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(342deg) brightness(101%) contrast(102%);
}


#gitlinks {
  text-align: right;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  min-width: 80px;
}

#gitlinks a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
}

#gitlinks a:hover {
  text-decoration: underline;
}