body {
  width: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
  width: 100%;
  height: auto;
}

#headingDiv {
  background-color: #043927;
  width: 100%;
  min-height: 250px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heading {
  background-color: #043927;
  color: white;
  margin: auto;
  text-align: center;
  font-size: 3.5rem;
}

#buttonDiv {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

button#eventCreateBtn {
  margin: 2em auto;
  background-color: #405f53;
  color: white;
  font-size: 1.5rem;
  padding: 1em 3em;
  border: none;
}

button:hover, 
.card:hover {
  cursor: pointer;
}

#eventsContainer {
  margin: auto;
  width: 90%;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(4, 1fr);
}

div.hidden {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  background-color: #fdf2d0;
  border: 50px solid #997200;
  padding: 0;
}

#eventCreateForm {
  position: relative;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

input, 
textarea {
  width: 95%;
  padding: 0.25em;
}

textarea {
  height: 100px;
}

label {
  margin: 1em auto;
}

input[type="submit"] {
  padding: 1em;
  margin: 1em auto;
  width: auto;
}

.formInputField, 
.formTextarea, 
label, 
#submitNewEvent {
  display: block;
}

.card {
  background-color: #fdf2d0;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 1rem;
}

.modal-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}