body {
  width: 100%;
  margin: 0;
}

#main {
  width: 100%;
  height: auto;
}

#headingDiv {
  background-color: #043927;
  width: 100%;
  height: 250px;
}

#heading {
  background-color: #043927;
  color: white;
  margin: auto;
  width: 800px;
  height: 100px;
  text-align: center;
  font-size: 4rem;
  padding-top: 5rem;
}

#buttonDiv {
  margin: auto;
  width: 500px;
}

button#eventCreateBtn {
  margin: auto;
  width: 500px;
  height: 80px;
  background-color: #043927;
  color: white;
  font-size: 1.5rem;
}

button#eventCreateBtn:hover {
  border: 2px solid red; 
}

#eventsContainer {
  margin: auto;
  width: 90%;
  border: 2px solid red;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(4, 1fr);
}

div.hidden {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  background-color: #ccb87f;
  border: 50px solid #997200;
  padding: 0;
}

#eventCreateForm {
  position: relative;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

input, textarea {
  width: 95%;
  padding: 0.25em;
}

textarea {
  height: 100px;
}

label {
  margin: 1em auto;
}

input[type="submit"] {
  padding: 1em;
  margin: 1em auto;
  width: auto;
  align-self: center;
}

.formInputField, .formTextarea, label, #submitNewEvent {
  display: block;
}

.card {
  background-color: #fdf2d0;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem;
}

