body {
  width: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
  width: 100%;
  height: auto;
}

#headingDiv {
  background-color: #043927;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

#heading {
  color: white;
  font-size: 3rem;
}

#buttonDiv {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

button#eventCreateBtn {
  margin: 2rem auto;
  background-color: #405f53;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: none;
}

button:hover, 
.card:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

#eventsContainer {
  margin: auto;
  width: 90%;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

div.unhide {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 70%;
  max-width: 600px;
  min-width: 350px;
  background-color: #fdf2d0;
  border: 40px solid #997200;
  padding: 1rem;
}

#eventCreateForm {
  position: relative;
  width: 100%;
}

input, 
textarea {
  width: 95%;
  padding: 0.25rem;
}

textarea {
  height: 100px;
}

label {
  margin: 1rem auto;
}

input[type="submit"] {
  padding: 1rem 2em;
  margin: 1rem auto;
  width: auto;
  background-color: #405f53;
  color: white;
  font-size: 120%;
  border: none;
}

.formInputField, 
.formTextarea, 
label, 
#submitNewEvent, 
#editEvent {
  display: block;
}

.card {
  background-color: #fdf2d0;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 1rem;
}

.modal-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.interested {
  font-size: 1.5rem;
  color: orange;
  line-height: 0rem;
}

.going {
  font-size: 1.5rem;
  color: green;
  line-height: 0rem;
}

.notgoing {
  font-size: 1.5rem;
  color: red;
  line-height: 0rem;
}

.detail-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  background-color: #405f53;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
}

select,
.detail-footer span {
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  background-color: rgba(58, 46, 14, 0.6);
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 2px;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

footer {
  background-color: #405f53;
  color: #fff;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}